<div class="about-me-container">
    <h2>About Me</h2>
    <div class="profile">
      <img src="assets/mohamed.jpg" alt="Profile Photo" class="profile-photo">
      <div class="details">
        <p>Name: Mohamed Ahmed Elsayed</p>
        <p> Highly motivated and enthusiastic junior .NET developer with a solid foundation in software development
            principles and
            hands-on experience in .NET technologies. Proficient in C# programming language and familiar with the
            .NET
            framework. Skilled in developing, testing, and debugging applications to meet business requirements.
            Possesses strong
            problem-solving abilities and a keen eye for detail. Eager to contribute to dynamic teams and committed to
            continuous
            learning and professional growth in the field of software development</p>
        <p>Age: 27</p>
        <p>Location: Egypt Cairo</p>
        <p>Occupation: Software Engineer</p>
        <p>Hobbies: Reading, Running, and coding</p>
      </div>
    </div>
</div>
